main {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container div {
    background-color: grey;
    min-height: 30px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: darkred;
}

.button_ {
    width: 150px;
    height: 50px;
    background-color: rgb(127, 238, 255);
    font-size: 16px;
    border-radius: 5px;
    border-color: rgb(186, 213, 237);
}

button:hover {
    background-color: rgb(12, 130, 108);
}